$white: #ffffff;
$hard-yellow: #ffff00;
$gray-250: #fafafa;
$gray-300: #f5f5f5;
$gray-350: #efefef;
$gray-400: #e0e0e0;
$gray-450: #cccccc;
$gray-500: #b7b7b7;
$gray-550: #a3a3a3;
$gray-600: #8e8e8e;
$gray-650: #7a7a7a;
$gray-700: #666666;
$gray-750: #525252;
$gray-800: #3d3d3d;
$gray-850: #282828;
$gray-900: #141414;
$yellow-900: #4a4a00;
$yellow-850: #676704;
$yellow-800: #81810b;
$yellow-750: #9a9a13;
$yellow-700: #aeae1c;
$yellow-650: #c5c527;
$yellow-600: #d5d533;
$yellow-550: #e5e54e;
$yellow-500: #ecec5e;
$yellow-450: #f7f774;
$yellow-400: #ffff90;
$yellow-350: #ffffa4;
$yellow-300: #ffffc7;
$yellow-250: #ffffd9;
$yellow-100: #fffff9;
$yellow-200: #ffffea;
$yellow-150: #fffff2;
$gray-yellow-900: #141412;
$gray-yellow-850: #282824;
$gray-yellow-800: #3d3d37;
$gray-yellow-750: #515149;
$gray-yellow-700: #66665c;
$gray-yellow-650: #7a7a6e;
$gray-yellow-600: #8e8e80;
$gray-yellow-550: #a3a393;
$gray-yellow-500: #b7b7a5;
$gray-yellow-450: #ccccb8;
$gray-yellow-400: #e0e0ca;
$gray-yellow-350: #efefd8;
$gray-yellow-300: #f4f4dc;
$gray-yellow-250: #f9f9e0;
$soft-orang-900: #773b00;
$soft-orang-850: #8d4d00;
$soft-orang-800: #a56201;
$soft-orang-750: #b46f0b;
$soft-orang-700: #bf7917;
$soft-orang-650: #c68221;
$soft-orang-600: #ce8c2f;
$soft-orang-550: #da993d;
$soft-orang-500: #e8a84c;
$soft-orang-450: #f9b85b;
$soft-orang-400: #ffc36e;
$soft-orang-350: #ffca81;
$soft-orang-300: #ffda90;
$soft-orang-250: #ffe5ab;
$hard-yellow-500: #ebeb17;
$red-700: #db2525;