@import '@/styles/_colors.scss';
@import '@/styles/_typographys.scss';


.searchBox {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  gap: 10px;
  background: $white;
  border-radius: 8px;
  max-height: 44px;


  input {
    all: unset;
    width: 100%;
    height: 17px;
  
    font-family: $type-montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  

    letter-spacing: 0.01em;
    color: $gray-yellow-750;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    // background-image: url('seu-icon.svg');
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    background-color: $gray-yellow-750;
    // width: 16px;
    // height: 16px;
  }

  

  button {
    all: unset;
    div path {
      stroke: #52524A;
    }
  }

}