@import '@/styles/_colors.scss';
@import '@/styles/_typographys.scss';



.content {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 4px;
  gap: 6px;

  div path {
    stroke: $yellow-200;
  }

  div[class="cartButton"] path[class="cartButtonFill"] {
    fill: $yellow-600;
  }

  div[class="cartButton"] path[class="cartButtonHardYellow"] {
    fill: $hard-yellow;
    stroke: $hard-yellow;
  }

  div[class="cartButton"] path[class="cartButtonStroke"] {
    stroke: $hard-yellow;
  }

  p {
    all: unset;
    font-family: $type-montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: $yellow-200;
    display: inline-block;
    white-space: nowrap;
  }

}





